body{
    background: lightcoral;
}
.wrap{
    background: lightslategrey;
    min-width: 540px;
    width: 70%;
    margin: auto;
    overflow: hidden;
}
.content{
    background: lightseagreen;
    float: left;
    min-width: 450px;
    width: 85%;
}
aside{
    background: burlywood;
    float: left;
    min-width: 90px;
    width: 15%;
}
aside ul{
    list-style: square;
    padding-left: 40px;
}
aside h2{
    padding-left:20px ;
}

.content, aside{
    height: 500px;
}
a{ color:darkolivegreen;}
ul{color: brown;}